{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %} - Leave Management System</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="1layoutAuthentication">
        <main>
            <div class="container">
               
                <div class="row justify-content-center">
                    {% include "_alerts.html" %}
                    
                    <div class="col-lg-6">
                        <h3 class="text-white mt-5 mb-3 text-center">Leave Management System</h3>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>