{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Apply for Leave{% endblock %}

{% block content %}

<h1 class="mt-4">Leave Application</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'employee_dashboard' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Apply for Leave</li>
</ol>

{% include "_alerts.html" %}

<div class="row mb-4">
    <div class="col-md-8 offset-md-2">
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.start_date|as_crispy_field }}
            {{ form.end_date|as_crispy_field }}
            
            <div id="div_id_leave_type" class="mb-3">
                <label for="id_leave_type" class="form-label requiredField">
                    Leave type<span class="asteriskField">*</span>
                </label>
                <select name="leave_type" class="select form-select" id="id_leave_type">
                    <option value="annual">Annual Leave</option>
                    <option value="sick">Sick Leave</option>
                    <option value="sabbatical">Sabbatical Leave</option>
                    {% if request.user.employee.gender == 'F' %}
                    <option value="maternity">Maternity Leave</option>
                    {% else %}
                    <option value="paternity">Paternity Leave</option>
                    {% endif %}
                </select>
            </div>
            {% if form.leave_type.errors %}
            {% for error in form.leave_type.errors %} 
            <p class="text-danger fw-bold">{{ error }}</p>
            {% endfor %} 
            {% endif %}
            
            {{ form.reason|as_crispy_field }}
            <div class="submit-section">
                <button class="btn btn-primary submit-btn">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function(event) { 
          document.querySelector(".dateinput").datepicker({ format: "yyyy/mm/dd" });
        });
</script>
{% endblock %}