{% extends "base.html" %}

{% block title %}Employee: {{ request.user|title }}{% endblock %}

{% block content %}


<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">My Leaves History</li>
</ol>

{% include "_alerts.html" %}

<table class="table mb-4" id="employeeLeaves">
    <thead class="table-light">
        <tr>
            <th>Leave Type</th>
            <th>From</th>
            <th>To</th>
            <th>No of Days</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for leave in leaves %}
        <tr>
            <td>{{ leave.get_leave_type_display }}</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.leave_days }} days</td>
            <td>{{ leave.get_status_display }}</td>
            <td><a href="{% url 'leave_detail' leave.pk %}">View</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">You have yet to apply for a Leave.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}