{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ leave.user|title }} Leave Request{% endblock %}

{% block content %}

<h1 class="mt-4">{{ leave.user|title }} Leave Request</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
    <li class="breadcrumb-item active">Leave Request</li>
</ol>

{% if messages %}
    {% for message in messages %}
     <div class="alert alert-{% if message.tags %}{{ message.tags}}{% endif %} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}

<div class="row mb-5">
    <div class="col-md-8 offset-md-2">
        <div class="card mb-2">
            <div class="card-header">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Start Date
                    <span>{{ leave.start_date }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    End Date
                    <span>{{ leave.end_date }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Number of days
                    <span>{{ leave.leave_days }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Leave Type
                    <span>{{ leave.get_leave_type_display }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Reason
                    <span>{{ leave.reason }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Status
                    <span>{{ leave.get_status_display }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Request sent on
                    <span>{{ leave.created|date:"F j, Y" }}</span>
                </li>
            </ul>
        </div>

        {% if request.user.is_employer %}
        <div class="btn-group btn-group-justified">
            {% if not leave.is_approved and leave.is_rejected %}
            <a href="{% url 'leave_approve' leave.pk %}" class="btn btn-success">Approve Request</a>
            <a href="{% url 'leave_reject' leave.pk %}" class="btn btn-danger">Reject Request</a>
            {% else %}
            <a href="{% url 'leave_unapprove' leave.pk %}" class="btn btn-info">Unapprove Request</a>
            {% endif %}
        </div>
        {% else %}
            <a href="{% url 'leave_delete' leave.pk %}" class="btn btn-danger">Delete Request</a>
        {% endif %}
    </div>
</div>                              
{% endblock %}
